<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
<!--    LifecycleServlet = new LifecycleServlet() 동일-->
    <servlet>
        <servlet-name>LifecycleServlet</servlet-name>
        <servlet-class>ex0328.servlet.LifecycleServlet</servlet-class>
        <load-on-startup>1</load-on-startup> <!-- 서버 start 시 생성-->
    </servlet>

    <servlet-mapping>
        <servlet-name>LifecycleServlet</servlet-name>
        <url-pattern>/life</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ex0328.servlet.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup> <!-- 서버 start 시 생성-->
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BloodServlet</servlet-name>
        <servlet-class>ex0328.servlet.BloodServlet</servlet-class>
        <load-on-startup>1</load-on-startup> <!-- 서버 start 시 생성-->
    </servlet>

    <servlet-mapping>
        <servlet-name>BloodServlet</servlet-name>
        <url-pattern>/blood</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HobbyServlet</servlet-name>
        <servlet-class>ex0328.servlet.HobbyServlet</servlet-class>
        <load-on-startup>1</load-on-startup> <!-- 서버 start 시 생성-->
    </servlet>

    <servlet-mapping>
        <servlet-name>HobbyServlet</servlet-name>
        <url-pattern>/exam/hobby</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendServlet</servlet-name>
        <servlet-class>ex0328.servlet.SendServlet</servlet-class>
        <load-on-startup>1</load-on-startup> <!-- 서버 start 시 생성-->
    </servlet>

    <servlet-mapping>
        <servlet-name>SendServlet</servlet-name>
        <url-pattern>/BE_WS_01/params</url-pattern>
    </servlet-mapping>
</web-app>